@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

body{
    background-color: whitesmoke;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: whitesmoke;
    position: fixed;
    display: flex;
    border-bottom: 1px solid black;
}

.header-logo{
    width: 27.5%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 44);
}

.header-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 40vw;
    height: 100vh;
    background-color: rgba(61, 60, 60, 0.082);
    border-left: 2px solid rgba(44, 43, 43, 0.548);
    backdrop-filter: blur(5px);
    flex-direction: column;
    transform: translateX(100%);
    transition: .45s ease-in-out;
}

.header-logo{
    width: 47%;
}

.header-div2{
    width: 47%;
}

.menu-h{
    width: 1%;
}

.header-div2{
    width: 37.5%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-links-2{
    width: 35%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-menu-h{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-h{
    position: absolute;
    opacity: 0;
}

label{
    cursor: pointer;
    position: absolute;
    display: block;
    width: 28px;
    height: 20px;
}

label span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: green;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1){
    top: 0;
}

label span:nth-child(2){
    top: 8px;
}

label span:nth-child(3){
    top: 16px;
}

#menu-h:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}

#menu-h:checked + label span:nth-child(2){
    opacity: 0;
}

#menu-h:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}

#menu-h:checked{
    transform: translateX(0);
}

main{
    padding-top: 8vh;
    width: 100%;
    height: 230vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.main-main{
    width: 100%;
    height: 100vh;
    background: url(../img/dog2.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.opacy{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
}

.main-img1{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-txt1{
    width: 50%;
    height: 100vh;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    color: white;
}

.main-txt1 h1{
    font-size: 40pt;
}

.main-proposta{
    width: 100%;
    height: 130vh;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.main-img2{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 44);
    border: 0px;
    border-top: 1px solid black;
}

.main-txt2{
    margin-top: 20vh;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-txt2 h2{
    margin: 300px;
    column-count:2;
    text-align: justify;
    color: black;
    font-size: 30pt;
}
.main-title1{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}
